@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply m-0 p-0;
    
  }

  *, *::before, *::after {
    @apply box-border ;
    }
}

html, body {
  @apply overflow-x-hidden m-0;
  background: linear-gradient(to right, #000000, #1f2937);
}

html, body { 
  @apply overflow-visible m-0 p-0;
 }
 
#__nuxt, #__layout { overflow: visible; }
